<div mat-dialog-title>
  <h1>Task</h1>
</div>
<form [formGroup]="taskForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput type="text" placeholder="Transferir dinheiro" formControlName="title">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Para o banco Santander" formControlName="description">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let val of status" [value]="val">{{val}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
  </div>
</form>